.rat-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.89);
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(20,167,108) 0%, rgba(24, 23, 23, 0.911) 100%);
}

.images{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.chapter{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media only screen and (min-width:1281px){
  .rat{
    position: absolute;
    left: 35%;
  }
  .login{
    position: absolute;
    left: 20%;
    top: 100px;
    z-index:2;
  }
}
@media only screen and (min-width:801px){
 .header{
    text-align: left;
    font-size: 5rem;
    margin: 15vh 10vw 0px 10vw;
  }
}

@media only screen and (max-width:1280px){
  .chapter{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
   .header{
    text-align: center;
    font-size: 3em;
    margin-top: 15vh
  }
  .rat{
    width: 100%;
    height: auto;

  }
  .login{
    display: none;
  }
}

