<div style="display: flex;flex-direction: column;gap: 3rem;">
  <div class="rat-bg chapter">
    <h1 class="header slide-in-bottom">Risk analysis Tool</h1>
    <div class="slide-in-bottom-2 chapter img-container">
    <img class="images login slide-in-bottom-3" src="../../assets/rat/RatLogin.png">
    <img  class="images rat slide-in-bottom-4" src="../../assets/work-img/RAT.png" alt="">
    </div>
  </div>
  <div style="margin-top: 125vh;display: flex;flex-direction: column;align-items: center;gap: 2rem;" >
  <h1 style="text-align: center;">ASSESS RISKS EFFICIENTLY</h1>
  <p style="text-align: center;max-width: 800px;"><a href="https://risk-analysis-tool.com/#/" target="_blank" style="font-weight: 600;">RAT</a> was developed with the purpose of helping the user assess risks. By accurately visualizing each risk's importance based on the user's input,RAT helps the user take action earlier.</p>
  <h1 style="text-align: center;">TECHNOLOGIES USED</h1>
  <ul>
  <li>Angular</li>
  <li>Angular material</li>
  <li>Firestore</li>
  <li>Firebase storage</li>
  <li>Firebase hosting</li>

  </ul>
</div>
</div>

