<div style="display: flex;flex-direction: column;gap: 3rem;">
  <div class="rat-bg chapter" >
    <h1 class="header slide-in-bottom">Timedash</h1>
    <div class="slide-in-bottom-2 chapter img-container">
    <img class="images dash slide-in-bottom-3" src="../../assets/timedash/dashboard.png">
    <img  class="images analytics slide-in-bottom-4" src="../../assets/timedash/Analytics.png" alt="">
    <img  class="images timesheet slide-in-bottom-4" src="../../assets/timedash/Timesheet.png" alt="">
    </div>
  </div>
  <div style="margin-top: 125vh;display: flex;flex-direction: column;align-items: center;gap: 2rem;" >
  <h1 style="text-align: center;">BUISINESS MONITORING MADE SIMPLE</h1>
  <p style="text-align: center;max-width: 800px;"><a href="https://timesheetapp-935fe.web.app/" target="_blank" style="font-weight: 600;">Timedash</a> is a tool that allows employers to monitor each employee's performance.Each employee can log his hours for each project he's assigned to.After each month the employer can then asses if the employee's logs are satisfactory where he can either validate or dispute the employee's timesheet.</p>
  <h1 style="text-align: center;">TECHNOLOGIES USED</h1>
  <ul>
  <li>Angular</li>
  <li>Angular material</li>
  <li>Firestore</li>
  <li>Firebase storage</li>
  <li>Firebase hosting</li>
  <li>Firebase authentication</li>
<li>MongoDB</li>

  </ul>
</div>
</div>

