
  <div style="display: flex;flex-direction: column;gap: 4rem;" class="slide-in-bottom">
    <h1 class="header ">About</h1>
    <div class="card">
      <h1>Skills</h1>
      <h2>-Front end development</h2>
      <p>Angular, Material Design, HTML, CSS, Javascript</p>
      <h2>-Back end development</h2>
      <p>Node.js, MongoDB, Firestore</p>
      <h2>-Miscellaneous skills</h2>
       <p> Firebase services, Photoshop, Hardware knowledge</p>
       </div>
    <div  class="card">
      <h1>Experience</h1>
      <mzd-timeline>
      <mzd-timeline-content>
        <span style="position: absolute;right: 15px;top:5px;">2021-now</span>
         <div style="margin-top: 15px;position: relative;">Currently developing autonomous farming applications for <a href="https://refarm.online/" target="_blank">REFARM</a>.</div>
      </mzd-timeline-content>
      <mzd-timeline-content>
        <span style="position: absolute;right: 15px;top:5px;">2020-2021</span>
        <div style="margin-top: 15px;position: relative;">Continued freelancing and developed RAT and TimeDash.</div>
      </mzd-timeline-content>
      <mzd-timeline-content>
        <span style="position: absolute;right: 15px;top:5px;">2019-2020</span>
      <div style="margin-top: 15px;position: relative;">Developed DataLite, a project management solution powering 3 E.U. funded projects such as <a href="https://iclimabuilt.eu/" target="_blank">Iclimabuilt</a> and <a href="https://www.repair3d.net/" target="_blank">Repair3d</a>.</div>
      </mzd-timeline-content>
      <mzd-timeline-content>
        <span style="position: absolute;right: 15px;top:5px;">2014-2019</span>
      <div style="margin-top: 15px;position: relative;">Finished my studies at the International Hellenic University and started freelancing.</div>
      </mzd-timeline-content>
      </mzd-timeline>
    </div>
  </div>
