
  <div style="display: flex;flex-direction: column;gap: 3rem;" class="slide-in-bottom">
    <h1 class="header ">About</h1>
    <mzd-timeline>
    <mzd-timeline-content>
      <span style="position: absolute;right: 15px;top:5px;">2021-now</span>
       <div style="margin-top: 15px;position: relative;">Currently developing autonomous farming applications for REFARM.</div>
    </mzd-timeline-content>
    <mzd-timeline-content>
      <span style="position: absolute;right: 15px;top:5px;">2020-2021</span>
      <div style="margin-top: 15px;position: relative;">Continued freelancing and developed RAT and TimeDash.</div>
    </mzd-timeline-content>
    <mzd-timeline-content>
      <span style="position: absolute;right: 15px;top:5px;">2019-2020</span>
    <div style="margin-top: 15px;position: relative;">Developed DataLite, a project management solution powering 3 E.U. funded projects such as Iclimabuilt and Repair3d.</div>
    </mzd-timeline-content>
    <mzd-timeline-content>
      <span style="position: absolute;right: 15px;top:5px;">2014-2019</span>
    <div style="margin-top: 15px;position: relative;">Finished my studies at the International Hellenic University and started freelancing.</div>
    </mzd-timeline-content>
    </mzd-timeline>
  </div>
