<div class="slide-in-bottom">
  <h1 class="header"  id="Contact" >Contact</h1>
  <div class="chapter" >


    <div style="display: flex;flex-direction:column;gap:3rem;justify-content: center;">
    <h1>Email stelioskpz@gmail.com </h1>
    <div class="icon-container">
    <a href="https://www.linkedin.com/in/stelios-karakapzoudis-b84a09157/" style="color: #777777d8;" target="_blank"><fa-icon  size="4x"[icon]="faLinkedin"></fa-icon></a>
    <fa-icon [icon]="faTwitter" size="4x"></fa-icon>
    <a  href="https://github.com/SteliosKpz" target="_blank" style="color: #777777d8;"><fa-icon  size="4x" [icon]="faGithub"></fa-icon></a>
  </div>
    </div>
  </div>
</div>
