<h1 class="header"  id="Portfolio" >Work</h1>
<div  class="portfolio-card-container">
  <div class="card-portfolio" style="background: linear-gradient(180deg, rgba(20,167,108,0.70) 0%, rgba(24,23,23,0.70) 100%);" routerLink="/Rat">
    <div  style="display: flex;flex-direction: column;width: 100%;">
      <span  style="text-align: end;font-size: 1em;">Web app</span>
      <span style="text-align: end;font-size: 2em;">Risk analysis tool</span>
    </div>
    <div class="work-img" ><img   style="border-radius: 10px;width: 100%;height: auto;" src="./../../assets/work-img/RAT.png"></div>
  </div>

  <div class="card-portfolio" style="background: linear-gradient(180deg, rgba(250,114,104,0.70) 0%, rgba(0,24,41,0.70) 100%)" routerLink="/Timedash">
    <div  style="display: flex;flex-direction: column;width: 100%;">
      <span  style="text-align: end;font-size: 1em;">Web app</span>
      <span style="text-align: end;font-size: 2em;">TimeDash</span>
    </div>
    <div class="work-img" ><img   style="border-radius: 10px;width: 100%;height: auto;" src="./../../assets/work-img/TimeDash.png"></div>

  </div>
  <div class="card-portfolio" style="background: linear-gradient(180deg, rgba(47,50,65,0.7035189075630253) 0%, rgba(85,84,84,0.700717787114846) 100%);">
    <div  style="display: flex;flex-direction: column;width: 100%;">
      <span  style="text-align: end;font-size: 1em;">Web app</span>
      <span style="text-align: end;font-size: 2em;">DataLite</span>
    </div>
    <div class="work-img" ><img   style="border-radius: 10px;width: 100%;height: auto;" src="./../../assets/work-img/Datalite.png"></div>
  </div>
</div>
